@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="row">
    <div class="col-sm-3">&nbsp;</div>
    <div class="text-center col-sm-6">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    Gilbert Temple
                </div>
                <div class="carousel-item">
                    Provo Temple
                </div>
                <div class="carousel-item">
                    Albuquerque Temple
                </div>
                <div class="carousel-item">
                    Salt Lake City Temple
                </div>
                <div class="carousel-item">
                    San Diego Temple
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">&nbsp;</div>
</div>*@

<div class="row">
    <div class="col-sm-3">&nbsp;</div>
    <div class="text-center col-sm-6">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    Gilbert Temple
                    <img src="/Images/gilbert.jpg" class="d-block w-100" alt="Gilbert Temple">
                </div>
                <div class="carousel-item">
                    Provo Temple
                    <img src="/Images/provo.jpg" class="d-block w-100" alt="Provo Temple">
                </div>
                <div class="carousel-item">
                    Albuquerque Temple
                    <img src="/Images/albuquerque.jpg" class="d-block w-100" alt="Albuquerque Temple">
                </div>
                <div class="carousel-item">
                    Salt Lake City Temple
                    <img src="/Images/slc.jpg" class="d-block w-100" alt="Salt Lake City Temple">
                </div>
                <div class="carousel-item">
                    San Diego Temple
                    <img src="/Images/san_diego.jpg" class="d-block w-100" alt="San Diego Temple">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">&nbsp;</div>
</div>
