@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Images/gilbert.jpg" class="d-block w-100" alt="Gilbert Temple">
            </div>
            <div class="carousel-item">
                <img src="/Images/provo.jpg" class="d-block w-100" alt="Provo Temple">
            </div>
            <div class="carousel-item">
                <img src="/Images/albuquerque.jpg" class="d-block w-100" alt="Albuquerque Temple">
            </div>
            <div class="carousel-item">
                <img src="/Images/slc.jpg" class="d-block w-100" alt="Salt Lake City Temple">
            </div>
            <div class="carousel-item">
                <img src="/Images/san_diego.jpg" class="d-block w-100" alt="San Diego Temple">
            </div>
        </div>
    </div>
</div>
